.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
}

.footer-icons {
  display: flex;
  gap: 40px;
  color: rgb(255, 255, 255);
}

.footer-icons a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

.footer-icons a:hover {
  color: #dbb407; /* Change color on hover */
}

.bx bxl-instagram-alt i {
    font-family: 'Outfit', sans-serif;
}




