/* Hero Section Styles */
.hero-wrapper {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
    margin-top: 100px;
  }
  
  .hero-content {
    max-width: 950px; /* Limit content width */
    padding: 20px; /* Add padding */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-title {
    font-size: 3rem; /* Large font size for the title */
    margin-bottom: 25px; /* Space below the title */
    color: white;
  }
  
  .hero-description {
    font-size: 1.4rem; /* Font size for the description */
    font-weight: 300; /* Lighter font weight */
    color: white;
  }
  