/* Hero Section Styles */
.hero-wrapper {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  margin-top: 100px;
}

.hero-content {
  max-width: 950px; /* Limit content width */
  padding: 20px; /* Add padding */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 3rem; /* Large font size for the title */
  margin-bottom: 25px; /* Space below the title */
  color: rgb(255, 255, 255);
}

.hero-description {
  font-size: 1.4rem; /* Font size for the description */
  font-weight: 300; /* Lighter font weight */
  color: white;
}

/* Media Queries */

/* Media Queries for Hero Section */

@media (max-width: 400px) {
  .hero-wrapper {
    margin-top: 20px;
  }

  .hero-title {
    font-size: 2.5rem; /* Large font size for the title */
    margin-bottom: 30px; /* Space below the title */
  }

  .hero-description {
    font-size: 1.2rem; /* Font size for the description */
    font-weight: 300; /* Lighter font weight */
    color: rgb(233, 232, 232);
    text-align: center; /* Center the text */
  }
}