.carousel-container {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 85vh; 
  padding: 40px;
  margin-top: 40px;
  border-radius: 20px;
  backdrop-filter: blur(2px) saturate(150%);
  background: rgba(252, 252, 252, 0); 
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center; /* Centers text */
  position: relative;
}

.slide img {
  width: 85%;
  height: auto;
  border-radius: 10px;
}

.slide h1 {
  margin: 10px 0; /* Space between text and image */
  position: relative;
  color: white;
}

.slide p {
  margin: 10px 0; /* Space between text and image */
  position: relative;
  color: white;
  font-weight: 200;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  margin-top: 40px; /* Adjust as needed */
}

.carousel-nav label {
  width: 15px; /* Size of the nav dots */
  height: 15px;
  background-color: #ccc; /* Default color of dots */
  border-radius: 50%;
  margin: 0 10px; /* Space between dots */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-nav label:hover {
  background-color: #ff9900; /* Change color on hover */
}

.carousel-nav label.active {
  background-color: #1b0158; /* Active dot color */
}